.bordered {
  border-bottom: 1px solid #bbb;
  margin-top: 30px;
  margin-bottom: 30px;
}

.insert_img {
  width: 15vw; 
  margin-top: 3px; 
  margin-left: 3px; 
  margin-right: 3px; 
  margin-bottom: 3px;
}