.bordered {
  border-bottom: 1px solid #bbb;
  margin-top: 30px;
  margin-bottom: 30px;
}

.insert_media {
  width: 500px; 
  margin-top: 3px; 
  margin-left: 3px; 
  margin-right: 3px; 
  margin-bottom: 3px;
}

.insert_media_vid {
  width: 300px; 
  margin-top: 3px; 
  margin-left: 3px; 
  margin-right: 3px; 
  margin-bottom: 3px;
}

img {
    image-orientation: from-image;
}